/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
  padding: 0 0px 0px 24px;
}
.nav-items {
  padding: 0 24px 0px 0px;
  font-weight: bold;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.res-card:hover {
  cursor: pointer;
  border: 0.6px solid #000;
}
.res-logo {
  width: 200px;
  height: 200px;
}
.res-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
