.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
  padding: 0 0px 0px 24px;
}
.nav-items {
  padding: 0 24px 0px 0px;
  font-weight: bold;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.filter-btn {
  margin: 10px;
}
.res-card {
  width: 15%;
  /* height: 20%; */
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.res-card:hover {
  cursor: pointer;
  border: 0.6px solid #000;
}
.res-logo {
  width: 215px;
  height: 200px;
}
.res-container {
  width: auto;
  display: flex;

  flex-wrap: wrap;
  /* justify-content: center; */
}

.body {
  margin: 0;
  padding: 0;
  width: auto;
}
.loader {
  width: fit-content;
  align-items: center;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  border: 1px solid #0000;
  background-color: #f0f0f0;
  align-content: center;
}
.loader {
  width: 180px;
  height: 360px;
}
.search {
  padding: 10px;
}
.filter {
  display: flex;
}
